<vdnScope>
	<name>Local-Transport-Zone-B</name>
	<clusters>
		<cluster>
			<cluster>
				<objectId>domain-c7</objectId>
			</cluster>
		</cluster>
	</clusters>
	<controlPlaneMode>UNICAST_MODE</controlPlaneMode>
</vdnScope>